.range-slider {
  width: 1000px;
}

.range-slider[data-vertical] {
  height: 500px;
}

.main-flex-container {
  display: flex;
  flex-direction: row;
}

.secondary-flex-container {
  display: flex;
  flex-direction: column;
}

.zoom-mode-container {
  margin-top: 20px;
}

.VictoryContainer {
  user-select: none;
  -webkit-user-select: none;
}